@model IEnumerable<Packt.Shared.Customer>

<form asp-action="CreateCustomer" method="post">
      <input name="CustomerID" placeholder="Enter ID" />
      <input name="CompanyName" placeholder="Enter a country" />
      <input name="ContactName" placeholder="Enter a country" />
      <input name="ContactTitle" placeholder="Enter a country" />
      <input name="Address" placeholder="Enter a country" />
      <input type="submit" />
    </form>